.behindpreviewcompanyimage{
    max-width: 978px;
height: 70vh;
border-radius: 5px;
background: linear-gradient(114deg, rgba(0, 0, 0, 0.3) 13.35%, rgba(0, 0, 0, 0.08) 99.63%);
backdrop-filter: blur(28.814056396484375px);
}
.testtitle{
    color: #FFF;

/* Header/Header 1 */

font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 54.6px */
}
.descriptiontest{
    color: #FFF;
font-family: Public Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 135%; /* 24.3px */
}
.roundedpreviewicons{
    display: flex;
padding: 3px 3px;
align-items: center;
gap: 6px;
 border-radius: 30px;
border: 1px solid #EFF0F1;
background: var(--Gray-25, #FCFCFD);
}
.previewTime{
    color: var(--gray-500-p, var(--Gray-500, #667085));
font-family: Public Sans;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
.startchallengebutton {
    border-radius: 6px;
    border: 1px solid var(--Base-White, #FFF);
    display: flex;
  
   
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--Base-White, #FFF);
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent; /* Set background color to transparent */
  }
  .Welcomemsg{
    color: var(--Gray-600, #475467);

font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 36px */
  }
  .videosideBar{
   
background: #FFF;

/* Trans Card v2 */ border-radius: 10px;
box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02), 0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03), 0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04), 0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04), 0px 33.074px 26.459px 0px rgba(108, 73, 172, 0.05), 0px 79.167px 63.333px 0px rgba(108, 73, 172, 0.07);
  }
  .skillstext{
    color: var(--Gray-900, #101828);

font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 110%; /* 30.8px */
  }
  .skillsbelowtext{
    color: var(--Gray-950, #0C111D);
font-family: Public Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 145%; /* 26.1px */
  }
  .divcolorpreview {
     /* White background with 50% opacity */
    background-image: url(../../assets/images/boxgradient.png);
    background-size: cover;
     /* Ensures the background covers the entire container */
    max-width: 450px;
    
     border-radius: 10px;
box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02), 0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03), 0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04), 0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04), 0px 33.074px 26.459px 0px rgba(108, 73, 172, 0.05), 0px 79.167px 63.333px 0px rgba(108, 73, 172, 0.07);
background-color: rgba(255, 255, 255, 0.5); /* Set opacity here */
}
.divcolorpreviewthird {
  /* White background with 50% opacity */
 background-image: url(../../assets/images/boxgradient.png);
 background-size: cover;
  /* Ensures the background covers the entire container */
 
  border-radius: 10px;
box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02), 0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03), 0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04), 0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04), 0px 33.074px 26.459px 0px rgba(108, 73, 172, 0.05), 0px 79.167px 63.333px 0px rgba(108, 73, 172, 0.07);
background-color: rgba(255, 255, 255, 0.5); /* Set opacity here */
}
.divcolorpreviewforth {
  /* White background with 50% opacity */

 background: url(../../assets/images/icons/virtual.png), lightgray -63.08px -142.76px / 117.593% 143% no-repeat;
 background-size: cover;
  /* Ensures the background covers the entire container */
  height: 300px;
  border-radius: 10px;
box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02), 0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03), 0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04), 0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04), 0px 33.074px 26.459px 0px rgba(108, 73, 172, 0.05), 0px 79.167px 63.333px 0px rgba(108, 73, 172, 0.07);
background-color: rgba(255, 255, 255, 0.5); /* Set opacity here */
}
  .companyimage{
    border-radius: 5px;
background: #FFF;

/* Trans Card: Icons */
box-shadow: 0px 2.191px 1.753px 0px rgba(108, 73, 172, 0.02), 0px 5.265px 4.212px 0px rgba(108, 73, 172, 0.03), 0px 9.913px 7.93px 0px rgba(108, 73, 172, 0.04), 0px 17.683px 14.146px 0px rgba(108, 73, 172, 0.04);
  }
  .titlepreview{
    color: var(--Gray-600, #475467);

font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 28px */
  }
  .descriptionbelow{
    color: var(--Gray-950, #0C111D);
font-family: Public Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 160%; /* 28.8px */
  }
  .knowledgeitems{
    color: #000;

/* Sub Header 2/semi bold */
font-family: Public Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 145%; /* 29px */
  }
  .belowtext{
    color: #000;

font-family: Public Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 145%; /* 26.1px */
  }
  .lasttitle{
    color: var(--Gray-950, #0C111D);

/* Header/Header 1 */

font-size: 42px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 54.6px */
  }
  .lastdescription{
    color: var(--second-text-color, #737373);
    text-align: center;
    font-family: Public Sans;
    font-size: 21.56px;
    font-style: normal;
    font-weight: 500;
    line-height: 30.8px; /* 142.857% */
    letter-spacing: 0.308px;
  }
  .maybeLater{
    color: var(--Gray-900, #101828);
font-family: Public Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 18px */
  }
  .backtosearch{
    color: var(--Gray-900, #101828);
font-family: Public Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 100%;
  }
  .solvetext{
    color: var(--Gray-950, #0C111D);
font-family: Public Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 145%; 
  }