.responsive-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px; /* Adjust the top position as needed */
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .menu-item {
    padding: 10px;
    cursor: pointer;
  }
  
  /* Media query for small screens to hide the main menu */
  @media (max-width: 768px) {
    .d-flex {
      display: none;
    }
  }